pin-depends: [
  [
    "cerberus.b9daa22"
    "git+https://github.com/rems-project/cerberus.git#b9daa22"
  ]
  [
    "cerberus-lib.b9daa22"
    "git+https://github.com/rems-project/cerberus.git#b9daa22"
  ]
  [
    "cn.b9daa22"
    "git+https://github.com/rems-project/cerberus.git#b9daa22"
  ]
]
