pin-depends: [
  [
    "cerberus.f1f118b26"
    "git+ssh://git@github.com/rems-project/cerberus.git#f1f118b26"
  ]
  [
    "cerberus-lib.f1f118b26"
    "git+ssh://git@github.com/rems-project/cerberus.git#f1f118b26"
  ]
  ["cn.f1f118b26" "git+ssh://git@github.com/rems-project/cerberus.git#f1f118b26"]
]
